{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load lfs_tagging_tags %}
{% load lfs_theme_tags %}
{% load reviews_tags %}
{% load tagging_tags %}

{% block title %}
    {{ product.get_meta_title }} - {{ block.super }}
{% endblock %}

{% block section %}product{% endblock %}

{% block head %}
    {% if product.get_meta_keywords %}
        <meta name="keywords" content="{{ product.get_meta_keywords }}" />
    {% endif %}
    {% if product.get_meta_description %}
        <meta name="description" content="{{ product.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs product %}
{% endblock %}

{% block content %}
	<script type="text/javascript">
		(function($) {
		    $(function() {
			    $('.jcarousel').jcarousel({
		        	wrap: 'circular'
		        });
		        $('.jcarousel-control-prev')
		            .on('jcarouselcontrol:active', function() {
		                $(this).removeClass('inactive');
		            })
		            .on('jcarouselcontrol:inactive', function() {
		                $(this).addClass('inactive');
		            })
		            .jcarouselControl({
		                target: '-=1'
		            });
	
		        $('.jcarousel-control-next')
		            .on('jcarouselcontrol:active', function() {
		                $(this).removeClass('inactive');
		            })
		            .on('jcarouselcontrol:inactive', function() {
		                $(this).addClass('inactive');
		            })
		            .jcarouselControl({
		                target: '+=1'
		            });
	
		        $('.jcarousel-pagination')
		            .on('jcarouselpagination:active', 'a', function() {
		                $(this).addClass('active');
		            })
		            .on('jcarouselpagination:inactive', 'a', function() {
		                $(this).removeClass('active');
		            })
		            .jcarouselPagination();
		        $('.jcarousel').jcarouselAutoscroll({
		            interval: 3000,
		            target: '+=1',
		            autostart: true
		        });
		    });
		})(jQuery);
	</script>
    {{ product.static_block.html|safe }}

    <div class="overview">
        {% current_category product %}
        <a href="{{ current_category.get_absolute_url }}">
           {% trans 'Back to overview' %}&nbsp;>>
        </a>
    </div>

    <div id="product-inline">
        {{ product_inline|safe }}
    </div>
    <div class="jcarousel-wrapper jcarousel-wrapper-categories">
		<div class="jcarousel jcarousel-categories">
			<ul>
				{% for product in product.same_category_products %}
					<li class='jcarousel-item-wrapper'>
						<div class='category-product-block'>
							<a href="{% url lfs.catalog.views.product_view product.slug %}">
								{% if product.image.url_100x100 %}
									<img alt="{{ product.name }}"
										src="{{ product.image.url_100x100 }}" />
								{% endif %}
							</a>
							<div class='category-product-name'>
								{{product.name}}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<a href="#" class="jcarousel-control-prev jcarousel-control-prev-categories">&lsaquo;</a>
		<a href="#" class="jcarousel-control-next jcarousel-control-next-categories">&rsaquo;</a>
	</div>
	<br/><br/>
    {% tags_for_object product as tags %}
    {% if tags %}
        <div class="tags">
            <h1 class="section">{% trans 'Tags' %}</h1>
            {% for tag in tags %}
                <a href="{% url product_tag_detail tag.name %}">
                    {{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% tag_cloud_for_model catalog.Product as cloud with steps=6 min_count=1 distribution=log %}
    {% if cloud %}
        <div class="tags">
            <h1 class="section">{% trans 'Tag cloud' %}</h1>
            <div class="tag-cloud">
                {% for tag in cloud %}
                    <a href="{% url product_tag_detail tag.name %}" style="font-size:1{{ tag.font_size }}px">
                        {{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% related_products_by_tags product %}

{% endblock %}
