{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_portlets_tags %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}


{% block content %}
<div class="jcarousel-wrapper jcarousel-wrapper-main">
	<div class="jcarousel jcarousel-main">
        <ul>
        	<li>
        		<img src='{{STATIC_URL}}images/showcase2.png'>
        		<div class='showcase-title-block'>
					<h1>Отличная санетхника оптом</h1>
					<div class='clear'></div>
					жизнь начинается с воды, а вода на вашем объекте с нашей сантехники
				</div>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseAstra.jpg' alt='Ванна из литьевого мрамора Астра' title='Ванна из литьевого мрамора Астра' usemap="#showcase2map">
				<map name="showcase2map">
				  <area shape="rect" coords="20, 115, 400, 350" href="product/rakovina-kare" alt="Раковина из литьевого мрамора Каре">
				  <area shape="rect" coords="600, 115,950, 350" href="product/vanna-astra" alt="Ванна из литьевого мрамора Астра">
				</map> 
        		<div class='showcase-title-block-small' style='top:30px;left:220px;width:230px'>
					<h2><a href='product/rakovina-kare'>Раковина из литьевого мрамора "Каре"</a></h2>
				</div>
				<div class='showcase-title-block-small' style='top:110px;left:610px;width:200px'>
					<h2><a href='product/vanna-astra'>Ванна из литьевого мрамора "Астра"</a></h2>
				</div>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseGracia.jpg' alt='Ванна из литьевого мрамора Грация' title='Ванна из литьевого мрамора Грация' usemap="#showcase3map">
        		<map name="showcase3map">
				  <area shape="rect" coords="20, 215, 500, 400" href="product/vanna-gracia" alt="Ванна из литьевого мрамора Грация">
				  <area shape="rect" coords="670, 115,950, 350" href="product/vanna-nika" alt="Раковина из литьевого мрамора Ника">
				</map> 
        		<div class='showcase-title-block-small' style='top:130px;left:150px;width:200px'>
					<h2><a href='product/vanna-gracia'>Ванна из литьевого мрамора «Грация»</a></h2>
				</div>
				<div class='showcase-title-block-small' style='width: 200px; top: 30px; left: 560px;'>
					<h2><a href='product/rakovina-nika'>Раковина из литьевого мрамора «Ника»</a></h2>
				</div>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseDelta.jpg' alt='Ванна из литьевого мрамора «Дельта»' title='Ванна из литьевого мрамора «Дельта»' usemap="#showcase4map">
        		<map name="showcase4map">
				  <area shape="rect" coords="20, 215, 400, 400" href="product/vanna-delta" alt="Ванна из литьевого мрамора «Дельта»">
				  <area shape="rect" coords="600, 115,950, 350" href="product/rakovina-florida" alt="Раковина из литьевого мрамора «Флорида»">
				</map> 
        		<div class='showcase-title-block-small' style='top: 120px;left:70px;width:200px'>
					<h2><a href='product/vanna-delta'>Ванна из литьевого мрамора «Дельта»</a></h2>
				</div>
				<div class='showcase-title-block-small' style='top:60px;left:610px;width:200px'>
					<h2><a href='product/rakovina-florida'>Раковина из литьевого мрамора «Флорида»</a></h2>
				</div>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseFlorida.jpg' alt='Раковина из литьевого мрамора «Флорида»' title='Раковина из литьевого мрамора «Флорида»' usemap="#showcase5map">
        		<map name="showcase5map">
				  <area shape="rect" coords="200, 115, 800, 400" href="product/rakovina-florida" alt="Раковина из литьевого мрамора «Флорида»">
				</map> 
        		<div class='showcase-title-block-small' style='top:30px;left:50px;width:230px'>
					<h2><a href='product/rakovina-florida'>Раковина из литьевого мрамора «Флорида»</a></h2>
				</div>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseLaura.jpg' alt='Раковина из литьевого мрамора «Куба»' title='Раковина из литьевого мрамора «Куба»' usemap="#showcase6map">
        		<map name="showcase6map">
				  <area shape="rect" coords="220, 115, 400, 200" href="product/rakovina-kuba" alt="Раковина из литьевого мрамора «Куба»">
				  <area shape="rect" coords="500, 115,950, 350" href="product/vanna-laura" alt="Ванна из литьевого мрамора «Лаура»">
				</map> 
        		<div class='showcase-title-block-small' style='top:30px;left:220px;width:230px'>
					<h2><a href='product/rakovina-kuba'>Раковина из литьевого мрамора «Куба»</a></h2>
				</div>
				<div class='showcase-title-block-small' style='top:50px;left:610px;width:200px'>
					<h2><a href='product/vanna-laura'>Ванна из литьевого мрамора «Лаура»</a></h2>
				</div>
        	</li>
        </ul>
	</div>
	<a href="#" class="jcarousel-control-prev jcarousel-control-prev-main">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next jcarousel-control-next-main">&rsaquo;</a>
                
    <p class="jcarousel-pagination"></p>
</div>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jquery/jcarousel2/jcarousel.basic.css">
<script src="{{STATIC_URL}}jquery/jcarousel2/jquery.jcarousel.min.js"></script>
	<script type='text/javascript'>
			(function($) {
			    $(function() {
			        $('.jcarousel').jcarousel({
			        	wrap: 'circular'
			        });
			        $('.jcarousel-control-prev')
			            .on('jcarouselcontrol:active', function() {
			                $(this).removeClass('inactive');
			            })
			            .on('jcarouselcontrol:inactive', function() {
			                $(this).addClass('inactive');
			            })
			            .jcarouselControl({
			                target: '-=1'
			            });

			        $('.jcarousel-control-next')
			            .on('jcarouselcontrol:active', function() {
			                $(this).removeClass('inactive');
			            })
			            .on('jcarouselcontrol:inactive', function() {
			                $(this).addClass('inactive');
			            })
			            .jcarouselControl({
			                target: '+=1'
			            });

			        $('.jcarousel-pagination')
			            .on('jcarouselpagination:active', 'a', function() {
			                $(this).addClass('active');
			            })
			            .on('jcarouselpagination:inactive', 'a', function() {
			                $(this).removeClass('active');
			            })
			            .jcarouselPagination();
			        $('.jcarousel').jcarouselAutoscroll({
			            interval: 3000,
			            target: '+=1',
			            autostart: true
			        });
			    });
			})(jQuery);
	</script>
	<!-- Example row of columns -->
	<div class="row-fluid">
		<div class='main-content-header-wrapper'>
			<div class='main-content-header'>
		      	<h1>Оптовый интернет-магазин сантехники</h1>
			</div>
		</div>
		<div class='content-wrapper'>
		<p><span class='highlighted-text'>Мы являемся Официальным дилером компании «Эстет»</span> в Северо-Западном Федеральном округе . ЭСТЕТ - это новый бренд на Российском рынке элитной сантехники, это динамично развивающееся предприятие, специализирующееся на производстве сантехнических изделий из литьевого мрамора.</p>

<p>Продукция изготавливается из высококачественных, экологически чистых материалов, на современном оборудовании, квалифицированными специалистами, в строгом соответствии с европейскими стандартами. Вся продукция сертифицирована, имеет гарантию (5 лет).</p>

<p>Так же у нас вы найдете самый большой выбор смесителей, аксессуаров и мебели для ванных комнат, стеклянных раковин и кухонных моек. На ваш выбор представлена эксклюзивная продукция на российском рынке сантехники — стеклянная мебель для ванных комнат, зеркала и раковины.</p>

<p>Мы предлагаем гибкую систему скидок на оптовые поставки, узнать об этом подробнее Вы можете, связавшись с нами по любому из удобных для Вас способов, представленных на сайте.</p>

<p>Внимание! Продукцию из раздела «элитная сантехника» Вы можете приобрести в розницу по самым низким ценам!</p>
		</div>
	</div>
	{% block main-slot %}
    	{% lfs_portlet_slot 'Main' %}
	{% endblock %}
{% endblock %}
