{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_portlets_tags %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}


{% block content %}
<div class="jcarousel-wrapper">
	<div class="jcarousel">
        <ul>
        	<li>
        		<img src='{{STATIC_URL}}images/showcase2.png'>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseAstra.jpg'>
        	</li>
        	<li>
        		<img src='{{STATIC_URL}}images/showcaseGracia.jpg'>
        	</li>
        </ul>
	</div>
	<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                
    <p class="jcarousel-pagination">
                    
    </p>
    <div class='showcase-title-block'>
		<h1>Отличная санетхника оптом</h1>
		<div class='clear'></div>
		жизнь начинается с воды, а вода на вашем объекте с нашей сантехники
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jquery/jcarousel2/style.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jquery/jcarousel2/jcarousel.basic.css">
<script src="{{STATIC_URL}}jquery/jcarousel2/jquery.jcarousel.min.js"></script>
	<script type='text/javascript'>
			(function($) {
			    $(function() {
			        $('.jcarousel').jcarousel({
			        	wrap: 'circular'
			        });
			        $('.jcarousel-control-prev')
			            .on('jcarouselcontrol:active', function() {
			                $(this).removeClass('inactive');
			            })
			            .on('jcarouselcontrol:inactive', function() {
			                $(this).addClass('inactive');
			            })
			            .jcarouselControl({
			                target: '-=1'
			            });

			        $('.jcarousel-control-next')
			            .on('jcarouselcontrol:active', function() {
			                $(this).removeClass('inactive');
			            })
			            .on('jcarouselcontrol:inactive', function() {
			                $(this).addClass('inactive');
			            })
			            .jcarouselControl({
			                target: '+=1'
			            });

			        $('.jcarousel-pagination')
			            .on('jcarouselpagination:active', 'a', function() {
			                $(this).addClass('active');
			            })
			            .on('jcarouselpagination:inactive', 'a', function() {
			                $(this).removeClass('active');
			            })
			            .jcarouselPagination();
			        $('.jcarousel').jcarouselAutoscroll({
			            interval: 3000,
			            target: '+=1',
			            autostart: true
			        });
			    });
			})(jQuery);
	</script>
	<!-- Example row of columns -->
	<div class="row-fluid">
		<div class='main-content-header-wrapper'>
			<div class='main-content-header'>
		      	<h1>Оптовый интернет-магазин сантехники</h1>
			</div>
		</div>
		<div class='content-wrapper'>
		У нас вы найдете самый большой выбор смесителей, аксессуаров и мебели для ванных комнат, стеклянных раковин и кухонных моек. На ваш выбор представлена эксклюзивная продукция на российском рынке сантехники — стеклянная мебель для ванных комнат, зеркала и раковины.
		</div>
	</div>
	{% block main-slot %}
    	{% lfs_portlet_slot 'Main' %}
	{% endblock %}
{% endblock %}
