{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_portlets_tags %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}


{% block content %}
	<div class="showcase">
        <ul class='slides'>
        	<li style='background-image: url(/static/images/showcase2.png);height:380px;'>
        		<div class='showcase-title-block'>
        			<h2>Отличная санетхника оптом</h2>
        			<div class='clear'></div>
        			жизнь начинается с воды, а вода на вашем объекте с нашей сантехники
        		</div>
        	</li>
        </ul>
	</div>
	<!-- Example row of columns -->
	<div class="row-fluid">
		<div class='main-content-header-wrapper'>
			<div class='main-content-header'>
		      	<h2>Интернет-магазин сантехники</h2>
			</div>
		</div>
		<div class='content-wrapper'>
		У нас вы найдете самый большой выбор смесителей, аксессуаров и мебели для ванных комнат, стеклянных раковин, кухонных моек, зеркал и душевых кабин. На ваш выбор представлена эксклюзивная продукция на российском рынке сантехники — стеклянная мебель для ванных комнат, зеркала и раковины.
		</div>
	</div>
	{% block main-slot %}
    	{% lfs_portlet_slot 'Main' %}
	{% endblock %}
{% endblock %}
