{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block breadcrumbs %}
    {% breadcrumbs _("Change your e-mail address") %}
{% endblock %}

{% block content-center %}
    <h1>{% trans 'Change your e-mail address' %}</h1>
    <form action="{% url lfs_my_email %}"
          method="post">
        {% csrf_token %}
        <table>
            {{ email_form }}
            <tr>
                <td></td>
                <td>
                    <input type="hidden"
                           name="action"
                           value="email" />

                   <button class="button emphasized" type="submit">{% trans 'Save e-mail address' %}</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
