{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Login' %} - {{ block.super }}
{% endblock %}

{% block section %}customer-login{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Login") %}
{% endblock %}

{% block wrapper %}
   	<div class="header-wrapper">
	    <h2>
	        {% trans 'Please select!' %}
	    </h2>
    </div>
	<div class='row'>
    <div class="span6">
        <h3>{% trans 'Login' %}</h3>

        <div class="description">
            {% trans 'If you are already customer you can login. Your address data will be stored in your account.' %}
        </div>

        <form class="authenticate"
              action="{% url lfs_login %}"
              method="post">
            {% csrf_token %}
			<br/>
            <div class="form">
                <table>
                    {{ login_form }}
                    <tr>
                        <td></td>
                        <td>
                            <a href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
                        </td>
                    </tr>
                </table>
            </div>

            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />
			<p class="buttons">
            	<button type="submit"
                    class="button login-button emphasized right">{% trans 'Login' %}</button>
            </p>
        </form>
    </div>

    {% if not ANON_ONLY %}
        <div class="span6">
            <h3>{% trans 'Register' %}</h3>

            <div class="description">
                {% trans 'If you are not already a customer you can register in order to store your address data and to follow the state of your orders.' %}
            </div>

            <form action="{% url lfs_login %}"
                  method="post">
                    {% csrf_token %}
                    <div class="form">
                        <table>
                            {{ register_form }}
                        </table>
                    </div>
                    <input type="hidden"
                           name="action"
                           value="register" />

                    <input type="hidden"
                           name="next"
                           value="{{ next_url }}" />
 					<p class="buttons">
                    <button type="submit"
                            class="button register-button emphasized right">{% trans "Register" %}</button>
                    </p>
            </form>
        </div>
    {% endif %}
    </div><br/><br/>
<script type="text/javascript">
$("#id_username").focus();
</script>
{% endblock %}

