<div id="shipping-address-inline">
    <ul class="shipping-address">
            <li class="">
                <label for='name'>Имя*:</label>
                {{ form.shipping_firstname.errors }}
                {{ form.shipping_firstname }}
            </li>
            <li class="">
                <label for='name'>Фамилия*:</label>
                {{ form.shipping_lastname.errors }}
                {{ form.shipping_lastname }}
            </li>
            <li>
				<label for='name'>Организация:</label>
                {{ form.invoice_company_name.errors }}
                {{ form.invoice_company_name }}
			</li>
			<li class="">
                <label for="id_invoice-city">Город*:</label>
                {{ address_form.city.errors }}
                {{ address_form.city }}
            </li>
			<li class="">
                <label for="id_invoice-line1">Адрес*:</label>
                {{ address_form.line1.errors }}
                {{ address_form.line1 }}
            </li> 
			<li>
				<label for='name'>Телефон*:</label>
				{{ form.invoice_phone.errors }}
		        {{ form.invoice_phone }}
			</li>
			{% if request.user.is_anonymous %}
				<li>
					<label for='name'>Email:</label>
					{{ form.invoice_email.errors }}
			        {{ form.invoice_email }}
				</li>
			{% endif %}
    </ul>
</div>
