{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block section %}password-reset-confirm{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans 'You are here:' %}</li>
        <li>
            <a href="{% url lfs_shop_view %}">
                {% trans 'Home' %}</a> &gt;
        </li>
        <li>
            {% trans "Password reset" %}
        </li>
    </ul>
{% endblock %}

{% block wrapper %}
    {% if validlink %}
        <div class="header-wrapper">
		    <h2>
		       {% trans 'Enter new password' %}
		    </h2>
	    </div>
	    <div class='content-wrapper'>
	        <p>
	            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
	        </p>
	        <div class='row'>
			    <div class='span4 offset4'>
			        <form class='pass-reset' action=""
			              method="post">
			            {% csrf_token %}
			            <div class="field">
			                <label>{% trans 'New password:' %}</label>
			                <div>
			                    {{ form.new_password1.errors }}
			                    {{ form.new_password1 }}
			                </div>
			            </div>
			            <div>
			                <label>{% trans 'Confirm password:' %}</label>
			                <div>
			                    {{ form.new_password2.errors }}
			                    {{ form.new_password2 }}
			                </div>
			            </div>
			            <button class="button login-button emphasized right" type="submit">{% trans 'Change my password' %}</button>
			        </form>
		        </div>
			    <div class='span4'>
		    	</div>
		    </div>
        </div>
    {% else %}
     	<div class="header-wrapper">
		    <h2>
		       {% trans 'Password reset unsuccessful' %}
		    </h2>
	    </div>
	    <div class='content-wrapper'>
	    	<p>
	            {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
	        </p>
	    </div>
    {% endif %}
{% endblock %}
