{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans 'You are here:' %}</li>
        <li>
            <a href="{% url lfs_shop_view %}">
                {% trans 'Home' %}</a> &gt;
        </li>
        <li>
            {% trans 'Password reset' %}
        </li>
    </ul>
{% endblock %}

{% block wrapper %}
    <div class="header-wrapper">
	    <div class="header2">
	        Смена пароля
	    </div>
    </div>
    <div class='content-wrapper'>
	    <p>
	        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
	    </p>
	    <div class='row'>
		    <div class='span4 offset4'>
			    <form class='pass-reset' action=""
			          method="post">
			        {% csrf_token %}
			        <div class="field">
			            {{ form.email.label_tag }}
			                {{ form.email.errors }}
			                {{ form.email }}
			        </div>
			        <button class="button login-button emphasized right" type="submit">{% trans 'Reset my password' %}</button>
			    </form>
		    </div>
		    <div class='span4'>
	    	</div>
	    </div>
    </div>
    <br/><br/>
{% endblock %}
