html, body {
	background-color: #EAEAEA;
}
body {
	padding-top: 40px;
	color: #828282;
}
.clear {
	clear: both;
}
.container {
	width: 980px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 980px;
}
.footer {
	border-width: 0;
	color: #828282;
	border-top: 1px solid #E9E9E9;
	font-size: 13px;
	margin: 0 10px;
	padding: 15px 0;
}
.main-container {
	background-color: #fff;
	-webkit-box-shadow: 0 5px 5px #333;
    -moz-box-shadow: 0 5px 5px #333;
    box-shadow: 0 5px 5px #333;
}
.baseplate {
	background-position: center 0;
	background-color: #476F94;
	background-image: url("../images/bg-pattern.png");
	background-repeat: repeat-x;
	height: 450px;
	padding: 0;
	margin: 0;
}
.top-container {
	margin-top: -450px;
}
.muted {
    color: #fff;
    background-color: #476F94;
    margin: 0;
    padding: 10px 0;
}
.title-block {
	height: 100px;
	background: transparent;
	position: relative;
}
.title-block .logo-big {
	margin: 10px 0 0 10px;
}
.title-block h3 {
	color: #fff;
}
.showcase {
	background-color: #fff;
	overflow: hidden;
	padding: 20px;
}
.showcase .slides {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.showcase .slides li {
	list-style: none outside none;
	position: relative;
}
.showcase-title-block {
	background-color: #151F29;
	opacity: 0.9 !important;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 22px 27px;
	width: 40%;
	color: #fff;
}
.showcase-title-block h2 {
	font-size: 25px;
	margin: 0 0 10px 0;
	text-align: left;
	line-height: 1;
	font-weight: 500;
	padding: 10px 0;
	color: #fff;
}
.main-content-block {
	background-color: #fff;
	
}
.main-content-header-wrapper {
	padding: 15px 25px 20px;
	background-color: #fff;
}
.main-content-header-wrapper h2 {
	padding : 0;
	font-size: 27px;
	font-weight: 500;
	color: #41607D;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #E9E9E9;
	margin: 0;
	padding-bottom: 13px;
	line-height: 1;
}
.main-content-block-text {
	color: #828282;
}
.main-page-block {
	padding: 0 20px;
	margin: 0 0 35px 0;
}
.main-page-block-icon {
	float: left;
	margin: 0 12px 4px 0;
}
.main-page-block-title {
	padding: 9px 0 0 0;
	overflow: hidden;
}
.main-page-block-title h2 {
	font-size: 19px;
	font-weight: 500;
	color: #525252;
	margin: 0 0 5px 0;
	line-height: 1;
	padding: 0;
}
.navbar-custom {
	position: relative;
	-webkit-box-shadow: 0 1px 3px #333;
	-moz-box-shadow: 0 1px 3px #333;
	box-shadow: 0 1px 3px #333;
	margin: 0;
	vertical-align: baseline;
}
.navbar-custom .navbar-inner-custom {
    background-color: #F4F4F4;
    border-color: #E9E9E9;
    padding: 0;
    margin: 0;
    font-size: 12px;
    vertical-align: baseline;
    height: 60px;
}
.navbar-custom .navbar-inner-custom .container {
	border-right-style: solid;
	border-right-width: 1px;
	float: left;
	text-align: left;
	border-left-color: #F8F8F8;
	border-right-color: #F8F8F8;
	vertical-align: baseline;
}
.navbar-custom .navbar-inner-custom .container  .nav-custom {
	display: block;
	line-height: 1;
	list-style: none outside none;
	border-color: #E9E9E9;
	margin: 0;
	padding: 0;
}
.navbar-custom .navbar-inner-custom .container  .nav-custom > li {
	list-style: none outside none;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	float: left;
	font-weight: 700;
	padding: 18px 0;
	position: relative;
	border-right-color: #E4E4E4;
	border-left-color: #F8F8F8;
	margin: 0;
}
.navbar-custom .navbar-inner-custom .container  .nav-custom > li > a {
	color: #828282;
	display: block;
	line-height: 24px;
	padding: 0 70px;
	position: relative;
	text-decoration: none;
}
.navbar-custom .navbar-inner-custom .container  .nav-custom > li.active > a {
	color: #3D3D3D;
}
.nav-indicator {
	margin-left: 3px;
}
.navbar-main-top-line {
	border-bottom-color: #FFF;
	border-top-color: #7594A8;
	background-color: #4B6A88;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 9px;
}
.navbar-top .navbar-inner {
	background-color: #324A61;
	background-image: none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0;
}

.navbar .nav > li > a {
    text-shadow: none;
    color: #BAC6D1;
    background-color: #324A61;
}
.navbar-top.navbar .nav > .active > a, 
.navbar-top.navbar .nav > .active > a:hover, 
.navbar-top.navbar .nav > .active > a:focus {
    background-color: #324A61;
    box-shadow: none;
    color: #BAC6D1;
    text-decoration: ubderline;
}
.navbar .nav > li > a {
    border-left-color: #F8F8F8;
    border-right-color: #F8F8F8;
}
.navbar-main .navbar-inner .container .nav li a {
	display: block;
	line-height: 24px;
	padding: 0 30px;
	position: relative;
	text-decoration: none;
	color: #888888;
	margin: 0;
}
.navbar-main.navbar .nav > li > a {
    text-shadow: none;
    color: #BAC6D1;
    background-color: #fff;
}
.header-wrapper {
	border-bottom: 1px solid #E9E9E9;
    margin-bottom: 20px;
}
h2 {
	font-size: 28px;
	color: #5C5C5C;
    padding: 30px 20px 26px;
    font-weight: 400;
    line-height:	20px;
    margin: 0;
}
h3, h3 > a, h3 > a:visited {
	font-size: 24px;
	border-color: #E9E9E9;
    color: #41607D;
    font-weight: lighter;
    line-height: 1;
    margin: 0;
    padding: 0 20px 15px;
}
.content-wrapper {
	padding: 0 20px 40px 20px;
}
.description-wrapper {
	padding: 0 20px 5px 20px;
	clear: both;
}
.catalog {
	padding: 0 10px;
}
.catalog-item  {
	/*height: 312px;*/
    width: 33.333%;
    -moz-box-sizing: border-box;
    float: left;
    margin-bottom: 35px;
    min-height: 1px;
    padding: 0 10px;
    position: relative;
}
.catalog-item .image-wrapper {
	background-color: #F6F6F6;
	border-color: #E9E9E9;
	border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
}
.catalog-item .image-wrapper .image-wrapper-inner {
	overflow: hidden;
    position: relative;
}
.catalog-item .catalog-item-description {
	margin-top: 19px;
}
.catalog-item .catalog-item-title a {
	font-size: 20px;
    color: #41607D;
}
.catalog-item .catalog-item-title {
    margin-bottom: 14px;
}
.subcategories {
	display: none;
	list-style: none outside none;
	position: absolute;
	top: 60px;
	left: 0;
    border: 1px solid #ECECEC;
    text-align: left;
     z-index: 300;
}
.subcategories li {
	border-left-width: 0;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-width: 0;
    font-weight: normal;
    padding: 8px 0;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #ECECEC;
    background-color: #FDFDFD;
    list-style: none outside none;
    margin: 0;
    width: 100%;
}
.subcategories li a {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    line-height: 24px;
    padding: 0 30px 0 20px;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #888888;
}
.subcategories li a.current {
    font-weight: 500;
    color: #3D3D3D;
}
.categories-portlet ul ul.subcategories {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 5px 5px #333;
    -moz-box-shadow: 0 5px 5px #333;
    box-shadow: 0 5px 5px #333;
}
#products {
	margin: 0 0 30px 0;
}
.details-link {
    cursor: pointer;
    display: block;
    float: right;
    padding: 10px;
}
.header-block {
	position: relative;
}
.phone-block, .email-block {
	position: absolute;
	right: 70px;
	color: #fff;
	font-size: 17px;
}
.phone-block {
	top: 20px;
}
.email-block {
	top: 40px;
}
.lfs-default .product-data {
	 
}
.row {
    margin-left: 0;
}
#products .row {
	margin-top: 20px;
}
.product-data .product-image {
	text-align: center;
	height: 210px;
}
.product-data .product-title {
	padding: 0 0 0 30px;
}
.product-data .product-description {
	padding: 0 0 0 30px;
	font-size: 10px;
}
.product-data .product-price {
	float: right;
	padding: 0 10px 0 0;
    text-align: right;
}
.standard-price {
	color: #41607D;
	font-weight: 500;
	font-size: 16px;
	margin: 0 20px 0 0;
}
.sorting {
	margin: 10px;
	float:right;
	background: none;
}
.category-product-block {
	float: left;
	margin: 0 20px 0 20px;
	height: 120px;
	width: 140px;
	position: relative;
}
.category-product-name {
	position: absolute;
	bottom: 0;
	right: 0;
}
#product-inline {
    overflow: hidden;
    margin: 0 100px;
}
.sorting-header, .filter-header {
	font-weight: 700;
}
.filter-header {
	float: left;
	margin: 2px 10px 0 20px	
}
.sorting-header {
	float: left;
	margin: 6px 10px 0 20px	
}
#brand-filter, #subcategory-filter {
	border-radius: 0;
	height: 25px;
	padding: 1px 2px;
	margin: 0 10px 0 0;
}
.overview {
    background: none;
    font-size: 80%;
    font-weight: bold;
    padding: 10px 30px 10px 0;
    text-align: right;
}

#contact-form > ul > li {
    margin: 0 0 20px 0;
}
#contact-form label{
    font-weight: 700;
}
#contact-form input, #contact-form textarea {
	background-color: #FFFFFF;
    border-color: #E3E3E3;
    box-shadow: 0 1px 4px #ECECEC inset, -5px -5px 0 0 #F7F7F7, 5px 5px 0 0 #F7F7F7, 5px 0 0 0 #F7F7F7, 0 5px 0 0 #F7F7F7, 5px -5px 0 0 #F7F7F7, -5px 5px 0 0 #F7F7F7;
    color: #888888;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 10px 5px 5px;
    max-width: 100%;
    padding: 5px;
    width: 99%;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    outline: medium none;
}
#contact-form textarea {
	height: 100px;
}
.contact-form-wrapper {
	width: 100%;
}
#contact-form {
	margin: 30px 200px 20px 200px;
	overflow: hidden;
}
#search-link {
	float: right;
}
#search-link-wrapper {
	width: 40px;
}
.navbar-custom .navbar-inner-custom .container .nav-custom > li.category-item-last {
	border-right: none;
}
.navbar-custom .navbar-inner-custom .container .nav-custom > li.category-item-last > a{
	padding: 0 97px 0 70px;
	float: left;
}
.navbar-custom .navbar-inner-custom .container .nav-custom > li#search-link-wrapper > a#search-link{
	padding: 3px 20px 0 10px;
}
#search-form-wrapper {
	display: none;
	float: right;
	background-color: #455563;
	padding: 7px;
	position: absolute; 
	right: 0;
	top: 60px;
	z-index: 1000;
}
#search-form-wrapper form{
	margin: 0;;
}
#search-input {
	border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    font-size: 11px;
    height: 26px;
    line-height: 14px;
    margin: 0 5px 0 0;
    padding: 6px 5px;
    width: 170px;
    background-color: #5E6C78;
    color: #FFFFFF;
}
.search-input-wrapper {
	float: left;
}
#search-form-submit {
	border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0 8px;
    background: none repeat scroll 0 0 #5E6C78;
    color: #FFFFFF;
}
a.button:hover, button:hover, body .emphasized:hover,
a.button, button, body .emphasized {
    background-color: #5B7D9D;
    border: none;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 700;
    margin: 0 2px 0 0;
    padding: 6px 10px 4px 7px;
}
a.button:hover, button:hover, body .emphasized:hover {
	text-decoration: underline;
}
a.button.left, button.left {
    float: left;
    margin: 0;
}
button[type] {
    line-height: 17px;
    padding: 5px 10px 4px 7px;
}
ul, ol {
	margin: 0;
	padding: 0;
}
.title-note {
	color: #B0B0B0;
	font-size: 15px;
}
.details-link {
	color: #B0B0B0;
}
.details-link-arrow {
	background: url("../images/arrow.png") no-repeat scroll 0 0  #fff;
	float: right;
	width:10px;
	margin: 5px 5px 0 5px;
}

.products-catalog {
	overflow: hidden;
}
.products-navigation {
	margin: 10px 20px 10px 10px;
	text-align: right;
	overflow: hidden;
	float: right;
}
.products-navigation .current {
	background-color: #5B7D9D;
	color: #FFFFFF;
	display: block;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    padding: 5px 9px;
}
.products-navigation .inactive {
	color: #7B7B7B;
	background-color: #F3F3F3;
	display: block;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    padding: 5px 9px;
}
.next-page, .previous-page {
	float: left;
	width:10px;
	height: 15px;
}
.next-page {
	background: url("../images/arrow_right.png") no-repeat scroll 0 5px  #fff;
	margin: 5px 5px 0 5px;
}
.previous-page {
	background: url("../images/arrow_left.png") no-repeat scroll 0 5px  #fff;
	margin: 5px 0 0 5px;
}
.products-total {
	float: right;
	margin: 5px 0;
}

.search-results-table td, .search-results-table th {
    text-align: left;
    vertical-align: baseline;
}

#product-inline .standard-price {
	font-size: 24px;
}
#product-form {
	margin: 0 200px 20px;
}


.cart-portlet {
	width: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0;
}
.cart-portlet .cart-img{
    float: right;
}
.cart-portlet .portlet-body {
     border-width: 0px;
    padding: 36px 0 5px;
}
.cart-amount {
	font-weight: 500;
}
.cart-portlet .price {
	font-size: 16px;	
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
#cart-form table {
	margin: 0 auto;
}
table, table tr, table tr td, table tr th {
    border-color: #E5E5E5;
}
table tr th {
    background-color: #FDFDFD;
    text-align: left;
    color: #666666;
    font-weight: bold;
    padding: 5px 20px;
}
table.nobordered tr th {
	border-width: 0;
}
table tr td {
	padding: 0 20px;
	vertical-align: baseline;
	
}
.contact-form #id_name, .contact-form #id_email {
    width: 206px;
}
 
input[type="text"].cart-amount {
	height: 30px;
	width: 100px;
	margin: 5px 0 5px 0;
}
input[type="text"], input[type="password"] {
	height: 25px;
}
#cart-inline {
	margin: 0 0 20px 0;
}
.navbar .nav {
	float: none;
    width: 100%;
}
form.pass-reset #id_email, form.pass-reset #id_new_password1, form.pass-reset #id_new_password2 {
	width: 100%;
}
.buttons {
    margin-top: 20px;
}
form {
    margin: 10px 0 20px;
}
.sorting form {
    margin: 10px 0 5px;
}
form#filter-form {
	margin: 10px 0 0;
}