{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Contact form' %} - {{ block.super }}
{% endblock %}

{% block section %}contact-form{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Contact") %}
{% endblock %}

{% block content %}
	<div class="header-wrapper">
		<h1>
		    Напишите нам
		</h1>
	</div>
	<div class='content-wrapper'>
	        Для того чтобы связаться с нами вы можете воспользоваться одним из способов:
	        <ul class='contact-options'>
	        	<li>Позвонить по телефону <span class='phone'>(812) 909-51-64</span></li>
	        	<li>Написать письмо на электронную почту <span class='email'>liquidtech.ru@gmail.com</span></li>
	        	<li>Отправить сообщение через сайт:</li>
	        </ul>
		    <form id='contact-form' action="{% url lfs_contact_form %}"
		          method="post">
		
		        {% csrf_token %}
		        {% include "lfs/shop/lfs_form.html" %}
		
		        <div class="buttons">
		            <button class="button emphasized left"
		                   type="submit">{% trans 'Send' %}</button>
		        </div>
		    </form>
	</div>
{% endblock %}