{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_portlets_tags %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}


{% block content %}
		<div class='header-wrapper'>
	 		<div class='header2'>
	  			Доставка и самовывоз
	  		</div>
  		</div>
  		<div class='content-wrapper'>
  		<div class='header3'>
	  			Условия самовывоз
	  	</div>
Продажа товаров из пункта самовывоза осуществляется при условии предварительного заказа с понедельника по четверг с 10:00 до 19:00 и пятницу с 10:00 до 18:00.

Заказ для самовывоза обрабатывается в течение 1-2 рабочих дней, в зависимости от наличия и загруженности склада.

Самые ходовые позиции товаров всегда имеются в наличии в нашем пункте самовывоза, и вы сможете забрать их в тот же день. Уточнить наличие и узнать подробности вы всегда можете узнать у наших менеджеров по телефону.

Выдача товаров по самовывозу заказнчивается за 30 минут до закрытия офиса.
<br/><br/>
		<div class='header3'>
	  			Условия доставки
	  	</div>
	  	Цены на товары на сайте приведены без учета стоимости доставки.

Доставка заказанных Вами товаров осуществляется по Москве и по всей России.

Доставка, заказанных, вами товаров осуществляется ежедневно (без выходных дней) с 10:00 до 24:00.

Стоимость доставки:

- по Москве в пределах МКАД - 500 руб. Товары более 10кг доставляются до подъезда (подъем на этаж оплачивается отдельно).

- по Подмосковью осуществляется из расчета 30 руб. за 1км. от МКАД.

- в другие города России доставляем только проверенными компаниями Автотрейдинг, ПЭК, Деловые линии.

 
		</div>
{% endblock %}
