{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_portlets_tags %}

{% block title %} Оплата и доставка{% endblock %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}


{% block content %}
		<div class='header-wrapper'>
	 		<h1>
	  			Оплата и доставка
	  		</h1>
  		</div>
  		<div class='content-wrapper'>
  		<h2>
	  			Условия доставки
	  	</h2>
Цены на товары на сайте приведены без учета стоимости доставки. 
Доставка заказанных Вами товаров осуществляется по Санкт-Петербургу и по всей России. Доставка, заказанных, вами товаров осуществляется ежедневно (без выходных дней). Стоимость доставки определяется исходя из сделанного Вами заказа и обговаривается индивидуально.
Сроки доставки заказанного Вами товара 5-7 рабочих дней.
<br/><br/>
		<h2>
	  			Условия оплаты
	  	</h2>
	  	Оплата производится по безналичному расчету, 100% предоплата.
		</div>
{% endblock %}
