{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}
{% load compress %}

<html>
  	<head>
		<title>{% block title %} liqiudtech.ru - Интернет-магазин сантехники{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="google-site-verification" content="4pg-5LtLmPKGtrfh13T01ePeV5pMuoc3WSMTN2yVDzQ" />
		{% compress css %}
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/lightbox/jquery.lightbox-0.5.css" />
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.13.custom/css/smoothness/jquery-ui-1.8.13.custom.css" />
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css" />
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}yui/reset-fonts.css">
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blueprint/src/grid.css">
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jcarousel/skins/tango/my_skin.css" />
	    {% endcompress %}
	    <!--[if IE]>
            {% compress css %}
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/iefixes.css" />
            {% endcompress %}
        <![endif]-->
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/html5shiv.js"></script>
	      <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/respond.min.js"></script>
    	<![endif]-->
    	
		<link href="{{ STATIC_URL }}css/styles.css?v=2" rel="stylesheet" media="screen">
		
	    {% compress js %}
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.7.2.min.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.13.custom/js/jquery-ui-1.8.13.custom.min.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery/lightbox/jquery.lightbox-0.5.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
	        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jcarousel/lib/jquery.jcarousel.js"></script>
	        <!-- Bootstrap -->
			<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	    {% endcompress %}
		
  	</head>
	<body>
  		<div class="navbar navbar-top navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
		           {% block tabs %}
		               {% tabs %}
		           {% endblock %}
        		</div>
      		</div>
    	</div>
    	<div class='baseplate'>
    	</div>
    	<div class="container top-container">
      		<div class='header-block'>
	     		<div class="title-block">
		     		<a href='/'>
		     			<img class='logo-big' src='/static/images/logoBig9.png'/>
		     		</a>
		        	{% block right-slot-wrapper %}
	                     {% block right-slot %}
	                         {% lfs_portlet_slot 'Right' %}
	                     {% endblock %}
	                {% endblock %}
        		</div>
        		<div class='phone-block'>
	     			<img src='/static/images/phone.png'>&nbsp;Позвоните нам: (812) 909-51-64
	    		 </div>
	     		<div class='email-block'>
	     			<img src='/static/images/email.png'>&nbsp;liquidtech.ru@gmail.com
	     		</div>
        		<div class="navbar-main-top-line"></div>
     		</div>
  		</div>
   		<div class="container main-container">
	    	{% block wrapper %}
		  	 	{% block center-slot %}
		    		{% lfs_portlet_slot 'Center' %}
		   		{% endblock %}
				{% block content %}test{% endblock %}
	    	{% endblock %}
	    	<div class='clear'></div>
	   		<div class="footer">
	        	<p>&copy; LiquidTech 2013</p>
	      	</div>
		</div>
		<script type='text/javascript'>
			$(function(){
			});
		</script>
	</body>
</html>