{% load i18n %}
<script type="text/javascript">
	jQuery(document).ready(function() {
	    jQuery('.mycarousel').jcarousel({
	        // Configuration goes here
	    });
	});
</script>
{% block title %} {{ category.name }}{% endblock %}
<div class="container">
	<div class='header-wrapper'>
		<h1>
		    {{ category.name }}
		</h1>
	</div>
	<div class="description-wrapper">
	    {{ category.description|safe }}
	</div>
	<div id="categories">
	    <table class="lfs-default">
	        {% for row in categories %}
	            <tr>
	                {% for category in row %}
	                    <td class="category-row">
	                        <h2><a href="{% url lfs_category category.slug %}">{{ category.name }}</a></h2>
	                        {% if category.get_image %}
	                        <div class="category-image">
	                            <a href="{% url lfs_category category.slug %}">
	                                <img src="{{ category.get_image.url_100x100 }}"
	                                     alt="{{ category.name }}" />
	                            </a>
	                        </div>
	                        {% endif %}
	                        <div class="category-description">
	                            {{ category.short_description|safe }}
	                        </div>
	                        <ul class="mycarousel jcarousel-skin-tango">
		                        {% for product in category.subcategories_products %}
		                        	<li style=''>
			                        	<div class='category-product-block'>
				                        	<a href="{% url lfs.catalog.views.product_view product.slug %}">
					                            {% if product.image.url_100x100 %}
					                                <img alt="{{ product.name }}"
					                                     src="{{ product.image.url_100x100 }}" />
					                            {% endif %}
					                        </a>
					                        <div class='category-product-name'>
					                        	{{product.name}}
					                        </div>
				                        </div>
			                        </li>
		                        {% endfor %}
	                        </ul>
	                        <div class="clear details-button">
	                            <a class="details-link"
	                               href="{% url lfs_category category.slug %}">перейти в подкаталог&nbsp;<div class='details-link-arrow'>&nbsp;</div>
	                            </a>
	                        </div>
	                        <hr>
	                    </td>
	                {% endfor %}
	            </tr>
	        {% endfor %}
	    </table>
	</div>
</div>