{% load i18n %}
{% load lfs_tags %}

{% if categories %}
	{% for category in categories %}
		{% ifequal forloop.counter0|divisibleby:"3" 1 %}
			<div class="row-fluid main-content-block">
		{% endifequal %}
		 <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		<a {% if category.is_current %}class="current"{% endif %} href="{{ category.category.get_absolute_url }}">
        			<h2>{{ category.category.name }}</h2>
        		</a>
        	</div>
        	<div class='clear'></div>
        	<div class='main-content-block-text'>{{ category.category.short_description|safe }}</div>
        </div>
	    {% ifequal forloop.counter|divisibleby:"3" 1 %}
			</div>
		{% endifequal %}
	{% endfor %}
{% endif %}