{% load i18n lfs_tags %}
{% load lfs_portlets_tags %}
{% load i18n custom_tags %}

<div class='products-catalog'>
	{% sorting %}
  	<h1>
    	{{ category.name }}
	</h1>
	<div class="description-wrapper">
	    {{ category.description|safe }}
	</div>
	{% if category.filter_categories %}
		<form id='filter-form' action='{% url lfs_category category.slug %}'>
		<div class='filter-header'>ФИЛЬТР</div>
		<select id='subcategory-filter'>
			{% for filter_category in category.filter_categories %}
				<option
				{% if filter_category.id == category.id %}
					selected='selected'
				{% endif %}
				 data-url='{% url lfs_category filter_category.slug %}'>
					{{filter_category.name}}
				</option>
			{% endfor %}
		</select>
		<select id='brand-filter' name='manufacturer'>
			<option value=''>все производители</option>
			{% for brand in brands %}
				<option value='{{brand.id}}'
				{% if brand.id == manufacturer.id %}
					selected='selected'
				{% endif %}
				 >{{brand.name}}</option>
			{% endfor %}
		</select>
		</form>
		<script type='text/javascript'>
			$(function() {
				$('#subcategory-filter').change(function() {
					var selected = $(this).find('option:selected');
					if (selected.attr('data-url')) {
						document.location.href = selected.attr('data-url');
					}
				});
			});
			$(function() {
				$('#brand-filter').change(function() {
						$('#filter-form').submit();
				});
			});
		</script>
	{% endif %}
	<div id="products" class="lfs-default container">
	        {% for col in products %}
	        	{% ifequal forloop.counter0|divisibleby:"3" 1 %}
					<div class="row">
				{% endifequal %}
	            {% for product in col %}
	                <div class="span4 product-data"
	                    onclick="window.location='{% url lfs.catalog.views.product_view product.slug %}'">
	                    <div class="product-image">
	                        <a href="{% url lfs.catalog.views.product_view product.slug %}">
	                            {% if product.image.url_200x200 %}
	                                <img alt="{{ product.name }}"
	                                     src="{{ product.image.url_200x200 }}" />
	                            {% endif %}
	                        </a>
	                    </div>
	                    <div style='float:left; width: 55%'>
	                        <div class="product-title">{{ product.name }}</div>
	                        <div class="product-description">{{ product.obj.get_short_description|safe }}</div>
	                    </div>
	
	                    {% category_product_prices_gross product.obj.id %}
	
	                    <div class="product-price">
	                        {% if price_starting_from %}
	                            {% trans "Starting at" %}
	                        {% endif %}
	                        {% if product.obj.get_for_sale %}
	                           <span class="for-sale-standard-price">{{ standard_price|currency_ru:request }}*</span>
	                           <span class="for-sale-price">{{ price|currency_ru:request }}*</span>
	                        {% else %}
	                            <span class="standard-price">{{ price|currency_ru:request }}</span>
	                        {% endif %}
	                        {% if product.price_unit %}
	                            / {{ product.price_unit }}
	                        {% endif %}
	                        {% if product.obj.get_active_packing_unit %}
	                            <div class="base-price">
	                                {{ base_packing_price|currency_ru:request }}* / {{ product.obj.get_packing_info.1 }}
	                            </div>
	                        {% endif %}
	                        {% if product.obj.get_active_base_price %}
	                            <div class="base-price">
	                                {% if base_price_starting_from %}
	                                    {% trans "Starting at" %}
	                                {% endif %}
	                                {{ base_price|currency_ru:request }}*
	                                {% if product.obj.get_base_price_unit %}
	                                    / {{ product.obj.get_base_price_unit }}
	                                {% endif %}
	                            </div>
	                        {% endif %}
	                    </div>
	                </div>
	            {% endfor %}
	            {% ifequal forloop.counter|divisibleby:"3" 1 %}
					</div>
				{% endifequal %}
	        {% endfor %}
	</div>
	{% include "lfs/catalog/categories/product/products_navigation.html" %}
</div>